* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    background-color: hsl(0, 0%, 10%);
    color: hsl(0, 0%, 85%);
    line-height: 1.6;
    font-size: 18px;
}

h2, h3{ 
    color: hsl(0, 0%, 100%);
    line-height: 1.2;
}

h2{ 
    font-size: 36px;
}

h3{ 
    font-size: 28px;
}

p{ 
    max-width: 70ch;
}

small{ 
    font-size: 14px;
}

ul{ 
    list-style: none;
}

button{ 
    border: none;
    background-color: hsl(210, 97%, 65%);
    color: hsl(0, 0%, 0%);
    padding: 14px 24px;
    border-radius: 4px;
    font-weight: 400;
    font-size: inherit;
    word-spacing: 4px;
}

.wrapper{ 
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.startFace, .questionFace, .resultFace{ 
    padding: 2rem;
    width: min(95%, 500px);
    background-color: hsl(0, 0%, 16%);
    border-radius: 8px;
}

.startFace{ 
    text-align: center;
}

.startFace p{ 
    margin: 48px 0;
}



.group{ 
    margin: 24px 0;
    display: flex;
    justify-content: space-between;
    padding-inline: 8px;
}

.questionFace ul li{ 
    margin: 16px 0;
    width: 100%;
    background-color: hsl(0, 0%, 25%);
    border:2px solid hsl(0, 0%, 25%);
    padding: 8px;
    border-radius: 4px;
    transition: border 0.3s ease;
}

.questionFace ul li:hover{ 
    border: 2px solid hsl(210, 97%, 65%);
}

.questionFace ul li.correct{ 
    border: 2px solid hsl(122, 96%, 35%);
    color: hsl(122, 96%, 35%);
}

.questionFace ul li.wrong{ 
    border: 2px solid hsl(0, 100%, 45%);
    color: hsl(0, 100%, 45%);
}

.questionFace,
.resultFace{  
    display: none;
}

.btnGroup{ 
    display: flex;
    justify-content: space-between;
}

.progressBar{ 
    width: 100%;
    height: 12px;
    background-color: hsl(0, 0%, 25%);
    border-radius: 16px;
    margin-top: 40px;
    overflow: hidden;
}

.fill{ 
    width: 0;
    height: 100%;
    border-radius: inherit;
    background-color: hsl(210, 97%, 65%);
    transition: all 0.3s ease;
}

.resultFace{ 
    text-align: center;
}

.resultBody{ 
    padding: 60px;
    background-color: hsl(0, 0%, 25%);
    border-radius: 8px;
    margin-bottom: 32px;
}

.resultFace h3{ 
    margin-bottom: 16px;
    color: hsl(210, 97%, 65%);
}